<h1>My Messages</h1>

<table>
<tr>  
  <th>From</th>
  <th>Subject</th>
  <th>Date</th>
</tr>
<% @messages.each do |message| %>
  <tr> 
    <td><%= link_to message.from_user.name, message.from_user %> </td>
    <td><b>Subject</b>: <%= message.subject %></td>
    <td><%= message.created_at %></td>
  </tr> 
<% end %> 
</table> 
<%= link_to 'New Message', new_message_path %>
