<p>
  <b>To:</b> <%= link_to @message.to_user.name, @message.to_user %>
</p>

<div class="news">
  <%= @message.contents %>
</div> 

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>

