<div class="news">
<h4> <%= @news_item.title %>, posted: <%= @news_item.created_at %> </h4>
<%= h(@news_item.text).gsub("\r\n","<br/>").html_safe %> <sub><%= link_to "read more", @news_item %></sub>
</div>
