<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
  </tr>

<% @users.each do |user| %>

<% if user.name %> 
  <tr>
    <td><%= link_to user.name, user %></td>
    <td><%= user.bio %></td>
  </tr>
<% end %> 

<% end %>
</table>
