<% @users.each do |user| %>

<div class="avatar_block">
  <div><%= gravatar_image_tag(user.email, :alt => user.name, :gravatar => { :size => 120}) %>
  <div class="name"> <%= link_to user.name, user %></div></div>
</div>

<% end %> 
