<p>
  <b>Collaboration Owner:</b> <%= link_to @collaboration.owner.name, @collaboration.owner %>
</p>

<p class="description">
  <b>Description:</b>
  <%= @collaboration.description %>
</p>


<%= link_to 'Edit', edit_collaboration_path(@collaboration) %> |
<%= link_to 'Back', collaborations_path %>

