// Place all the styles related to the Collaborations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description {
  background-color:#FFBD64;
  padding:5px;
  border: {
    color:#FF9300;
    width:1px;
    style:solid;
    radius:5px;
  }
}
