// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.compose{
  background-color:#FEF0FF;
  width:100px;
  padding:5px;
  text-align:center;
  border: {
    radius:4px;
    width:1px;
    color:#505050;
    style:solid;
  }

}

.message_listing{
  border:none;
  margin: {
    top:10px;
    bottom:10px;
  }
  td {
    padding:5px;
  }
  tr.odd td{
    background-color:#FEF0FF;
  }
}

.mail{
  border: {
    radius:5px;
    style:solid;
    width:1px;
    color:#E7F6FF;
  }
  margin: {
    top:10px;
    bottom:10px;
  }
  padding:5px;
  color:#00BBDD;
  background-color:#E7FFFF;
}
