// Place all the styles related to the Newspapers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news
{
  h4{
    margin:0;
    padding:3px;
    background-color:#FFFF73;
  }
  border: {
    radius:5px;
    color:#DFDF6D;
    style:solid;
    width:1px;
  }
  background-color:#FAFA9B;
  padding:4px;
  margin: {
    top:10px;
    bottom:10px;
  }
}


